body {
  background-image: url(https://scene7.samsclub.com/is/image/samsclub/0020902900000_A);
  background-size: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

form {
  width: 40%;
  height: auto;
  background-color:bisque;
  padding: 10px 10px 10px 10px
}

label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#orderConfirm {
  width: 40%;
  height: auto;
  background-color:bisque;
  padding: 10px 10px 10px 10px
}